# dependencies
node_modules/

# next.js
.next/
out/

# storybook
storybook-static/
*storybook.log

# testing / coverage
coverage/

# env files
.env*

# assembled S3 tree
deploy/

# misc
.DS_Store
*.pem
npm-debug.log*
*.tsbuildinfo
next-env.d.ts
